/*  navbar */

.pill-nav a {
  display: inline-block;
  color:white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

.pill-nav a:hover {
  background-color: #ddd;
  color: black;
}

.pill-nav a.active {
  background-color: #0b5252;
  color: white;
}



/* serch for recipe */

* {
  padding: 0.1rem;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


body{
  background-color: rgb(153, 69, 69);
}


h1 {
  color: #ddd
}


h3 {
  text-align: center;
  margin-top: 1.8em;
  color: black;
}
 

.container{
  background-color: bisque;
  font-size: 16px;
  padding: 3em 2.8em;
  width: 90vw;
  max-width: 32em;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 0.8em;
  border-radius: 0.6em;
  box-shadow: 0 1.2em 2.5em #0b5252;
}


.serch-container{
  width: 100%;
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1.2em;
}

.serch-container input{
  font-size: 1em;
  padding: 0.6em;
  border: none;
  outline: none;
  border-bottom: 2px solid #202030;
}

.serch-container button{
  font-size: 1em;
  background-color: #0b5252;
  border: none;
  font-weight: 600;
  border-radius: 0.3em;
}


img{
  display: block;
  width: 50%;
  margin: 1.8em auto 0 auto;
}


.details{
  background-color: #0b5252;
  position: relative;
  margin: 0.5em 0 0 0;
  text-align: center ;
  padding: 0.6em 0;
}

.details h2{
  font-size: 1.2em;
  font-weight: 600;
}

.details h4{
  font-size: 1em;
  font-weight: 400;
}

#show-recipe{
  font-size: 1em;
  position: relative;
  left: 75%;
  padding: 0.9em 0.6em;
  background-color: #0b5252;
  border: none;
  top: 1.5em;
  border-radius: 0.3em;
  font-weight: 600;
}

#recipe{
  position: absolute;
  background-color: bisque;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  border-radius: 0.6em;
  display: none;
}

#recipe pre{
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 2.5em 1.2em 1.2em 1.2em;
}


#hide-recipe{
  font-size: 1em;
  position: relative;
  width: 1.8em;
  height: 1.8em;
  background-color: #0b5252;
  border: none;
  top: 1.2em;
  left: 90%;
  border-radius: 0.3em;
}


ul{
  font-size: 1em;
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.8em 1.1em;
  padding: 1.2em 0 0 1.2em;
}


.serch-container button:hover{
  background-color: rgb(153, 69, 69);
}


#show-recipe:hover{
  background-color: rgb(153, 69, 69);
}

#hide-recipe:hover{
  background-color: rgb(153, 69, 69);
}

.serch-container input:hover{
  background-color: burlywood;
}

.container:hover{
  background-color: burlywood;
}

#recipe:hover{
  background-color: burlywood;
}


@media screen and (max-width: 600px){
  .container {
    font-size: 14px;
  }
}




/* Footer */
 
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #153d3d;
    color: white;
    text-align: center;
   }
   


  